nav{
    width:100%;
    /* box-shadow: 2px 2px 30px rgba(0,0,0,0.05);*/
    z-index: 100;
}
a{
    text-decoration: none;
}

.social-call{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 50px;

}
.social a{
    margin: 0px 5px;
    color: rgba(0,0,0,0.4);
    font-size: 0.9rem;
}
.phone{
    color: rgba(0,0,0,0.4);
    margin: 30px;
    font-size: 0.9rem;
    letter-spacing: 0px;
}
.social a:hover{
    color: black;
    transition: all ease 0.3s;
}

.user {
    /* justify-content: center;*/
    position: absolute;
    margin: 0px 10px;
    color: rgba(0,0,0,0.4);
    right: 80px;
}

.user a{
    top: 0;
    color: rgba(0,0,0,0.4);
    margin: 0px 5px;

}

.user a:hover{
    color: black;
    transition: all ease 0.3s;
}


